body {
    background: lightgoldenrodyellow;
    color: #333333;
    margin-top: 0;
    border-color: #000000;
}

textarea {
    resize: none;
}

.navbar {
    background-color: #acffe4;
    border: 3px solid black;
    margin-bottom: 10px;
    padding: 20px;
}

.table td {
    padding: .25rem;
}

.table-bordered {
    border: 1px solid black;
}

.main-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.top-header {
    width: 100%;
    height: 40px;
    background-color: slategray
}

.breadcrumb-container {
    margin-left: 10px;
}

.breadcrumb {
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: none;
    margin-bottom: 0;
}

/* ########## Menu Buttons ########## */
#menu-parent-container {
    float: left;
    height: 750px;
    width: auto;
    margin-left: 10px;
}

#menu-parent-container button {
    border: 2px solid black;
    height: 125px;
    width: 125px;
    margin: 0;
}

#menu-categories {
    float: left;
}

.menu-button {
    -webkit-border-radius: 28;
    border-radius: 28;
    display: inline-block;
    background-color: lightgray;
    position: relative;
}

.menu-button img {
    margin-bottom: 15px;
    max-height: 85%;
    max-width: 85%;
}

.menu-button-text {
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0;
}    

/* ########## Ticket Table ########## */
#ticket-table-div {
    background-color: #acffe4;
    border-style: solid;
    border-width: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    user-select: none;
    width: 25%;
    height: 750px;
    overflow: auto;
}
#ticket-table th, #ticket-table td {
    border: 1px solid black;
}


#ticket-table tr td.ticket-qty {
    text-align: right
}

#ticket-table tr td.ticket-price {
    text-align: center
}

/* ########## Customer Info ########## */
.customer-info-forms {
    font-size: 22px;
    float: left;
    width: 60%;
}    

#customer-info-optional-container {
    float: left;
    display: none;
} 

#content-container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}    

#customer-status {
    display: none;
}

#previous-orders {
    display: none;
}
