astroid==2.2.5
autopep8==1.4.3
colorama==0.4.1
Django==2.1.7
isort==4.3.14
lazy-object-proxy==1.3.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.3.1
PyQt5==5.11.2
PyQt5-sip==4.19.12
pytz==2018.9
sip==4.19.8
six==1.12.0
SQLAlchemy==1.2.10
typed-ast==1.3.1
wrapt==1.11.1
