{% extends "pos/base.html" %}
{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'pos/js/customer_info.js' %}"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="{% url 'pos-home' %}" type="button" class="btn btn-danger btn-lg">Back</a>
        <button type="button" class="btn btn-primary active btn-lg" id="customer-status-toggle">Customer Status</button>
        <button type="button" class="btn btn-primary btn-lg" id="previous-orders-toggle">Previous Orders</button>
        <button type="button" class="btn btn-success btn-lg">Next</button>
    </div>
</nav>
<div class="content-container">
    <div class="customer-info-forms">
        <h1>Customer Information</h1>
        <table class="table">
            <form action="/customer_info/{{ customer }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <tr>
                    <input type="submit" value="Search">
                </tr>
            </form>
        </table>
    </div>
    <div id="customer-info-optional-container">
        <div id="customer-status">
            <button>Customer Status</button>
        </div>
        <div id="previous-orders">
            <button>Previous Orders</button>
        </div>
    </div>
</div>
{% endblock content %}